@model IEnumerable<music_store.Models.lots>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.products.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.providers.manufacturer)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.products.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.providers.manufacturer)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { item.id }) |
                @Html.ActionLink("Details", "Details", new { item.id }) |
                @Html.ActionLink("Delete", "Delete", new { item.id })
            </td>
        </tr>
    }

</table>