@model IEnumerable<music_store.Models.sellers>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())

{

<p>

    Find by fio: @Html.TextBox("SearchString")

    <input type="submit" value="Search" />
</p>

}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("FIO", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("Passport info", "Index", new { sortOrder = ViewBag.PassSortParm })
        </th>
       
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.passport_info)
        </td>
                <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            @Html.ActionLink("Details", "Details", new { id = item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id })
        </td>
    </tr>
    }

</table>
